node_modules/
.development/
.production/
package-lock.json
yarn.lock
.env
build
build.zip
build.tar.gz
build.crx
build.pem
public
scripts
wiki
src
tailwind.config.js
postcss.config.js
index.js